.blog {
  .content {
    max-width: 1000px;
    width: 100%;
    margin: 3% auto 0;
    display: flex;
    justify-content: space-around;
    .mixtape {
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .title {
      font-size: 24px;
      font-weight: bold;
      @media screen and (max-width: 500px) {
        text-align: center;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .author {
      margin-bottom: 5px;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
    .articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 700px;
      .article {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @media screen and (max-width: 500px) {
          flex-wrap: wrap;
        }
        .text {
          width: 100%;
          p {
            @media screen and (max-width: 500px) {
              display: none;
            }
          }
        }
        .thumbnail {
          max-width: 250px;
          width: 100%;
          max-height: 250px;
          object-fit: contain;
          margin-right: 15px;
          @media screen and (max-width: 500px) {
            max-width: 100%;
            max-height: 300px;
            object-fit: contain;
            margin: 0;
          }
        }
      }
    }
  }
}
