.calender {
  .content {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
    }
    .mixtape {
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      @media screen and (max-width: 1000px) {
        text-align: center;
      }
    }
    .past {
      margin: 3% 0;

      .events {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .event {
          cursor: pointer;
          display: flex;
          max-width: 240px;
          width: 100%;
          position: relative;
          margin: 5px;

          &:hover {
            .text {
              opacity: 1;
            }
          }
          .cover {
            width: 100%;
            max-height: 240px;
            overflow: hidden;
            object-fit: cover;
            object-position: 50% 50%;
          }
          .text {
            text-transform: uppercase;
            transition: all 0.2s;
            display: flex;
            opacity: 0;
            position: absolute;
            font-weight: bold;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            // text-align: center;
            color: #fff;
            background: rgba($color: #000000, $alpha: 0.4);
            // display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }
    .current {
      margin: 3% 0;
      display: flex;
      @media screen and (max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      .events {
        display: flex;
        flex-wrap: wrap;

        .event {
          padding: 15px;
          display: flex;
          max-width: 400px;
          width: 100%;
          @media screen and (max-width: 800px) {
            max-width: none;
          }
          cursor: pointer;
          border-radius: 4px;
          transition: all 0.2s;
          &:hover {
            background: rgb(238, 238, 238);
          }
          .cover-container {
            position: relative;
            margin: 0 15px 0 0;
            max-width: 100px;
            width: 100%;
            .cover {
              width: 100%;
              max-height: 100px;
              overflow: hidden;
              object-fit: cover;
              object-position: 50% 50%;
            }
            .date {
              text-align: center;
              font-weight: bold;
              font-size: 22px;
              .month {
                font-weight: initial;
                color: red;
                font-size: 16px;
              }
            }
          }

          .text {
            max-width: 450px;
            width: 100%;
            .event-name {
              font-size: 24px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
