* {
  box-sizing: border-box;
}

body,
html {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.25;
}
a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 8px;
  // font-family: Helvetica;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  font-size: 15px;
  border: 1px solid #fff;
  width: max-content;
  font-weight: bold;
  transition: 0.4s all;
  &.cta {
    background: #fff;
    color: #000;
    font-size: 24px;
    border: none;
    &.hover {
      border: none;
    }
  }
  &.bold {
    border-radius: 4px;
    background: #fff;
    color: #000;
    font-size: 24px;
    border: none;
    &.hover {
      border: none;
    }
  }
}
